- if "#{debug}" == "yes" 
	%ul
		- test.inspect.gsub(/[<>]/,"").split(",").each do |info|
			%li  #{info}
- else
	:javascript
		window.location="/display/?name=#{test.name}&cycles=#{test.test_cycles}&yslow=yes"